<div [ngClass]="{'hide' : isFavoritesPage}" class="search-container">
    <input #inputElement
        class="got-input" 
        type="text" 0
        maxlength="50" 
        spellcheck="false" 
        placeholder="Search for a hero..." 
    >
</div>
<div class="card-wrapper" *ngIf="filteredCharacters.length > 0">
    <div class="hero" *ngFor="let hero of filteredCharacters; let i = index;"
        (click)="goToHeroDetails(hero.url)">
        <img [src]="characterImageMap[hero.name] || characterImageMap['default']" alt="character-img"
            (load)="imgLoaded = true" [class.loaded]="imgLoaded" loading="lazy">
        <p class="name">{{hero.name}}</p>
    </div>
</div>
<div class="no-cards-wrapper" *ngIf="filteredCharacters.length === 0 && (spinnerService.isVisible$ | async) === false">
    <h3>NO HEROES FOUND...</h3>
</div>