// Colors
$got-black: #000000;
$got-white: #ffffff;
$got-gold-light: #f0e6d2;   // Основен цвят на линковете
$got-gold-dark: #a7976e;    // Цвят при ховър
$got-gold-shadow: rgba(167, 151, 110, 0.6);

// Fonts
$got-font-family: 'GoT', 'Times New Roman', Times, serif;

// Sizes
$navbar-height: 98px;
$z-index-navbar: 1000;