@use '../../definitions.scss' as *;

.navbar {
    width: 100%;
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: $got-black;
    color: $got-white;
    //position: relative;
    z-index: $z-index-navbar;

    ul {
        margin: 0;
        padding: 0;

        a:hover {
            color: $got-gold-dark;
            transform: translateY(-3px) scale(1.1);
        }
    }

    a {
        display: inline-block;
        font: 20px $got-font-family;
        color: $got-gold-light;
        text-decoration: none;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

        img {
            width: 180px;

            @media (max-width: $max-mobile-width) {
                width: 150px;
            }
        }
    }

    .navbar-links {
        display: flex;
        gap: 24px;
        list-style: none;

        @media (max-width: $max-mobile-width) {
            width: 100%;
            height: calc(100vh - #{$navbar-height + 1px});
            flex-direction: column;
            position: absolute;
            z-index: $z-index-navbar - 1;
            top: $navbar-height;
            left: -150vw;
            background-color: $got-black;
            padding: 40px;
            transition: all 0.5s linear;

            &.active {
                left: 0;
            }
        }
    }

    .navbar-toggle {
        height: 100%;
        border: none;
        padding: 0;
        background-color: $got-black;
        cursor: pointer;

        img {
            width: 100px;
            display: inline-block;
            transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);

            &.rotate {
                transform: rotate(360deg);
            }

            @media (max-width: $max-mobile-width) {
                width: 80px;
            }
        }
    }
}