<nav class="navbar">
    <div class="navbar-brand">
        <a href="javascript:void(0)" (click)="goTo('/', $event)">
            <img src="assets/images/House-of-dragon.jpg" alt="Game of Thrones Logo">
        </a>
    </div>

    <ng-container *ngIf="isDesktop">
        <ul class="navbar-links">
            <li><a href="javascript:void(0)" (click)="goTo('/', $event)">Characters</a></li>
            <li><a href="javascript:void(0)" (click)="goTo('/favorites', $event)">Favorites</a></li>
        </ul>
    </ng-container>

    <ng-container *ngIf="!isDesktop">
        <button class="navbar-toggle" (click)="toggleMenu()">
            <img [ngClass]="{'rotate' : menuOpen}" src="assets/images/logo.png" alt="Menu Icon">
        </button>

        <ul [ngClass]="{'active' : menuOpen}" class="navbar-links">
            <li><a href="javascript:void(0)" (click)="goTo('/', $event)">Home</a></li>
            <li><a href="javascript:void(0)" (click)="goTo('/favorites', $event)">Favorites</a></li>
        </ul>
    </ng-container>
</nav>