@use '../../definitions.scss'as *;

.navbar {
    width: 100%;
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: $got-black;
    color: $got-white;
    z-index: $z-index-navbar;

    ul {
        margin: 0;
        padding: 0;

        a:hover {
            color: $got-gold-dark;
            transform: translateY(-3px) scale(1.1);
        }
    }

    a {
        display: inline-block;
        font: 20px $got-font-family;
        color: $got-gold-light;
        text-decoration: none;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

        img {
            width: 150px;

            @media (min-width: $min-tablet-width) {
                width: 180px;
            }
        }
    }

    .navbar-links {
        width: 100%;
        height: calc(100vh - $navbar-height);
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        top: $navbar-height;
        left: -150vw;
        z-index: $z-index-navbar - 1;
        background-color: $got-black;
        padding: 40px 0 40px 40px;
        list-style: none;
        transition: left 0.5s linear;

        &.active {
            left: 0;
        }

        @media(min-width: $min-tablet-width) {
            width: auto;
            height: 100%;
            position: static;
            flex-direction: row;
        }
    }

    .desktop-menu {
        display: none;

        @media (min-width: $min-tablet-width) {
            display: flex;
        }
    }

    .mobile-menu {
        display: block;

        @media (min-width: $min-tablet-width) {
            display: none;
        }
    }

    .navbar-toggle {
        height: 100%;
        padding: 0;
        border: none;
        background-color: $got-black;
        cursor: pointer;

        img {
            width: 80px;
            display: inline-block;
            transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);

            &.rotate {
                transform: rotate(360deg);
            }
        }
    }
}