<nav class="navbar">
    <div class="navbar-brand">
        <a href="javascript:void(0)" (click)="goTo(paths.CHARACTERS, $event)">
            <img src="assets/images/House-of-dragon.jpg" alt="Game of Thrones Logo">
        </a>
    </div>

    <ul class="navbar-links desktop-menu">
        <ng-container *ngTemplateOutlet="linkList"></ng-container>
    </ul>

    <div class="mobile-menu">
        <button class="navbar-toggle" (click)="toggleMenu()">
            <img [ngClass]="{'rotate' : menuOpen}" src="assets/images/logo.png" alt="Menu Icon">
        </button>

        <ul [ngClass]="{'active' : menuOpen}" class="navbar-links">
            <ng-container *ngTemplateOutlet="linkList"></ng-container>
        </ul>
    </div>
</nav>

<ng-template #linkList>
    <li><a href="javascript:void(0)" (click)="goTo(paths.CHARACTERS, $event)">Characters</a></li>
    <li *ngIf="(authService.isLoggedIn$ | async)" ><a href="javascript:void(0)" (click)="goTo(paths.FAVORITES, $event)">Favorites</a></li>
    <li *ngIf="!(authService.isLoggedIn$ | async)"><a href="javascript:void(0)" (click)="goTo(paths.LOGIN , $event)">Log in</a></li>
    <li *ngIf="!(authService.isLoggedIn$ | async)"><a href="javascript:void(0)" (click)="goTo(paths.REGISTER , $event)">Register</a></li>
    <li *ngIf="(authService.isLoggedIn$ | async)"><a href="javascript:void(0)" (click)="goTo(paths.LOGOUT , $event)">Logout</a></li>
</ng-template>